<h1>Update your design</h1>

<div>
  <%= simple_form_for @design do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <p>File resolution: 300 dpi</p>
  <%= f.input :file_type, as: :radio_buttons, collection: %w(psd ai) %>
  <%= f.input :layers, as: :radio_buttons %>
  <%= f.input :pattern, as: :radio_buttons, collection: ['seamless tile', 'placement'] %>
  <%= f.input :price %>
  <%= f.input :indexed_colors, as: :radio_buttons %>
  <%= f.association :categories, as: :check_boxes %>
  <%= f.association :tags, as: :check_boxes %>
  <%= f.submit "update", class: "btn btn-primary" %>
<% end %>
