<div class="category_show_title">
  <h2><strong>Update your design</strong></h2>
</div>

  <div class="form-style">
    <%= simple_form_for @design do |f| %>
      <h4>Design information</h4>
      <div class="form_parts">
        <div class="row">
          <div class="col-6">
            <%= f.input :name, placeholder: "Name of your design" %>
          </div>
          <div class="col-6">
            <%= f.input :price, placeholder: "Price of your design"%>
          </div>
        </div>
        <%= f.input :photo %>
      </div>
      <div class="form_parts">
        <h4>Files information</h4>
        <div class="files-grid">
          <%= f.input :file_type, as: :radio_buttons, collection: %w(psd ai) %>
          <%= f.input :layers, as: :radio_buttons %>
          <%= f.input :pattern, as: :radio_buttons, collection: ['seamless tile', 'placement'] %>
          <%= f.input :indexed_colors, as: :radio_buttons %>
        </div>
      </div>

      <div class="form_parts">
        <h4>Categories</h4>
        <div class="category-choices">
          <% Category.all.each do |category| %>
            <div>
              <input type="checkbox" class="d-none" value="<%= category.id %>" name="design[category_ids][]" id="design_category_ids_<%= category.id %>">
              <label for="design_category_ids_<%= category.id %>">
                <%= category.name %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form_parts">
        <h4>Tags</h4>
        <div class="category-choices">
          <% Tag.all.each do |tag| %>
            <div >
              <input type="checkbox" class="hidden" value="<%= tag.id %>" name="design[tag_ids][]" id="design_tag_ids_<%= tag.id %>">
              <label for="design_tag_ids_<%= tag.id %>">
                <%= tag.name %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <%= f.submit "Update this design", class: "button" %>
    <% end %>

  </div>


