<h1>One design</h1>

<div><photo></div>

<div id="design_description" >
  <p><%= @design.name %></p>
  <p><%= @design.user_id %></p>
  <p>File resolution: 300 dpi</p>
  <p><%= @design.file_type %></p>
  <p><%= @design.layers %></p>
  <p><%= @design.indexed_colors %></p>
  <p><%= @design.categories.first.name %></p>
  <p><%= @design.tags.first.name %></p>
</div>
