<div class="category_show_title">
  <h2><strong>My Profile</strong></h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-6">
        <%= f.input :first_name, required: true %>
      </div>
      <div class="col-6">
        <%= f.input :last_name, required: true %>
      </div>
    </div>
    <%= f.input :street_address, required: true %>
    <div class="row">
      <div class="col-4">
        <%= f.input :city, required: true %>
      </div>
      <div class="col-4">
        <%= f.input :state_province, required: true %>
      </div>
      <div class="col-4">
        <%= f.input :zip_code, required: true %>
      </div>
    </div>
    <%= f.input :country, as: :string, required: true %>
    <%= f.input :phone_number, required: true %>
    <%= f.input :company_name, required: true %>
    <%= f.input :website, required: true %>

    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div id="login_btns">
    <%= f.button :submit, "Update", class:"button w-100" %>
  </div>
<% end %>

<div class="cancel-part">
  <h5>Cancel my account</h5>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
