<div class="sign-in-main-container" style="background-image: url(<%= image_url "ctstudio_sign_in_low_quality.jpg"  %>)">
  <div class="sign-in-info">
    <div class="category_show_title">
      <img src="<%= image_url "ctstudio_logo_white.png" %>" width="" alt="logo">
      <h3><span id="login-typed-text"></span></h3>
    </div>
  </div>

  <div class="sign-in-container">
    <div class="form-style">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :street_address, required: true %>
        <%= f.input :city, required: true %>
        <%= f.input :state_province, required: true %>
        <%= f.input :zip_code, required: true %>
        <%= f.input :phone_number, required: true %>
        <%= f.input :company_name, required: true %>
        <%= f.input :website, required: true %>
        <%= f.input :email, required: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class:"button" %>
      </div>
    <% end %>
      <div id="login-btns">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
