<div class="category_show_title">
  <h2><strong>Your results for <%= @search %></strong></h2>
</div>

<% if @designs.empty? %>
  <h5>Sorry, we couldn't find any results for <strong><%= @search %></strong></h5>
<% else %>
  <div class="grid-container">
    <% @designs.each do |design| %>
      <% unless design.sold %>
        <%= link_to(design_path(design)) { %>
            <div class="design-card">
              <div class ="design-img">
                <img src="<%= cl_image_path design.photo.key, width: 400, height: 250, crop: :fill %>" alt="design ">
              </div>
              <div class="design-info d-flex justify-content-between">
                <div class="tit">
                  <h5><%= design.name %></h5>
                </div>
                <div class="flex-part">
                  <div class="price">
                    <h5><%= design.price %>$</h5>
                  </div>
                  <% if current_user == design.user  %>
                    <div class="sold">
                        <i class="fas fa-star" style="color:black"></i>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% } %>
        <% end %>
    <% end %>
  </div>
<% end %>
<div class="back-btn">
  <%= link_to 'Back to all categories', categories_path, class: 'button' %>
</div>
