<div class="category_show_title">
  <h2><strong><%= @category.name %></strong></h2>
  <p>Textures, shapes and colors <br>
  undefinable styles to make a unique statement.</p>
</div>

<div class="search">
  <div class="search_keyword">
    <p><strong>Search by keyword</strong></p>
    <!-- <input class="search-bar" type="text" placeholder="Search designs">
 -->
<%= form_tag category_search_part_path(@category), method: :get, remote: true do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-bar",
    placeholder: "Search designs"
  %>
<% end %>





  </div>

  <div class="search_colors">
    <p><strong>Search by color</strong></p>
    <div class="colors_btn">
      <% colors = ['red', 'yellow', 'blue', 'green', 'pink', 'black'] %>
      <% colors.each do |color| %>
        <i class="fas fa-circle" style="color: <%= color %>"></i>
      <% end %>
    </div>
  </div>
</div>

<div id="search_results">
  <%= render 'search-results', category: @category, designs: @designs %>
</div>
