<div class="category_show_title">
  <h2><strong>All designs of a category</strong></h2>
  <p>Textures, shapes and colors</p>
  <p>Undefinable styles to make a unique statement.</p>
</div>

<div class="search">
  <div class="search_keyword">
    <p><strong>Search by keyword</strong></p>
    <input class="search-bar" type="text" placeholder="Search designs">
  </div>

  <div class="search_colors">
    <p><strong>Search by color</strong></p>
    <div class="colors_btn">
      <% colors = ['red', 'yellow', 'blue', 'green', 'pink', 'black'] %>
      <% colors.each do |color| %>
        <i class="fas fa-circle" style="color: <%= color %>"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="grid-container">
  <% @designs.each do |d| %>
    <% unless d.sold %>
      <%= link_to(design_path(d.id, { category: @category.name })) { %>
          <div class="design-card">
            <div class ="design-img">
              <img src="<%= cl_image_path d.photo.key %>" alt="design ">
            </div>
            <div class="design-info d-flex justify-content-between">
              <div class="tit">
                <h5><%= d.name %></h5>
              </div>
              <div class="price">
                <h5><%= d.price %>$</h5>
              </div>
            </div>
          </div>
        <% } %>
      <% end %>
  <% end %>
</div>

<% sold_designs = @designs.select { |design| design.sold } %>

<% unless sold_designs.nil? || sold_designs.empty? %>
  <div>
    <h1 class="sold-subtitle">Already sold</h1>
    <div class="grid-container">
      <% sold_designs.each do |sold_design| %>
        <div class="design-card">
          <div class ="design-img" style="background-image: url('<%= cl_image_path sold_design.photo.key %>')"></div>
          <div class="design-info d-flex justify-content-between">
            <div class="tit">
              <h5><%= sold_design.name %></h5>
            </div>
            <div class="price">
              <h5>Sold</h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
