<h2>All designs of a category</h2>

<div class="my-container">
  <% @designs.each do |d| %>
  <%= link_to(design_path(d.id)) { %>
      <div class="des-card">
        <div class ="d-img" style="background-image: url('<%= cl_image_path d.photo.key %>')"></div>
        <div class="info d-flex justify-content-between">
          <div class="tit">
            <h5><%= d.name %></h5>
            <p>Created at: <%= d.created_at.strftime("%Y-%m-%d") %></p>
          </div>
          <div class="price">
            <h5><%= d.price %>$</h5>
          </div>
        </div>
      </div>
    <% } %>
  <% end %>
</div>
<%= link_to "Back to category list", categories_path %>
